
        #frlink {
            color: red;
        }

        a:link {
            text-decoration: none;
        }

        ul li {
            background-color: rgba(256, 256, 256, 0.6);
            color: rgb(180, 10, 10);
            padding: 5px;
            margin: 5px;
        }

        body {
            font-family: "Lato", sans-serif
        }

        .mySlides {
            display: none
        }

        .anchor {
            background-color: #000000;
            color: white;
            padding: 14px 25px;
            text-align: center;
            text-decoration: none;

        }

        .non {
            color: blue;
        }

        .functional {
            color: red;
        }

        .btns {
            background-color: black;
            border: none;
            color: white;
            padding: 10px 35px;
            text-align: center;
            text-decoration: none;
        }
 